$colorYellow: #F4E041;
$colorBlue: #00BDD3;
$colorLightGray: #F8F8F8;
$colorBackgroundMainPage: #E5E5E5;

$colorYellowHower: #FFE302;

$fontFamily: 'Nunito', sans-serif;

$containerWidthDeskMax: 1170px; 
$containerWidthDeskMin: 904px; 
$containerWidthMobMax: 704px; 
$containerWidthMobMin: 328px; 

$deskMax: 2560px;
$deskMin: 1024px;
$mobMax: 768px;
$mobMin: 360px;
